.post-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

span {
    position: relative;
    top: 2rem;
}
img {
    width: 100%;
}
.fa-instagram {
    font-size: 30px;
}
.icon {
    font-size: 30px;
}